::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #0084c7; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #0084c7; }

a, a:focus, button, button:focus, input, input:focus, textarea, textarea:focus {
  outline: 0 !important; }

:focus {
  outline: 0 !important;
  outline-offset: 0 !important; }

$osn-col: #0084c7; 

select, select:focus {
  outline: 0 !important; }

html {
  position: relative; }

  body {
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Montserrat-Regular';
	color: #272828;
}

p {
	margin: 0;
	padding: 0;
}

a:focus, a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.accent_color {
	color: #0084c7;
}

.accent_bold {
  font-family: "Montserrat-Bold";
}

.button {
  border-width: 1px;
  border-color: rgb(39, 40, 40);
  border-style: solid;
  width: 285px;
  height: 63px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.06em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background: none;
  img {
    margin-left: 25px;
  }
  &:hover {
    filter: invert(1);
    background: #fff;
  }
}

h2 {
  font-size: 45px;
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
}

.wave {
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-bottom: 120px;
}

header {
  background: url(../img/header/bg_index.png) no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  padding-bottom: 114px;
  position: relative;
  z-index: 3;
  .man {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
    z-index: 100;
    ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      margin-right: 70px;
      height: 74px;
      li:nth-child(1) {
        z-index: 10;
      }
      li:nth-child(2) {
        z-index: 9;
      }
      li:nth-child(3) {
        z-index: 8;
      }
      li:nth-child(4) {
        z-index: 7;
      }
      li:nth-child(5) {
        z-index: 6;
      }
      li:nth-child(6) {
        z-index: 5;
      }
      li {
        text-transform: uppercase;
        font-family: "Montserrat-Bold";
        font-size: 15px;
        margin-right: 45px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        position: relative;
        z-index: 3;
        .menu-open {
          position: absolute;
          border-width: 0px;
          border-color: rgb(220, 220, 220);
          border-style: solid;
          background-color: rgb(255, 255, 255);
          width: 210px;
          top: calc(100%);
          z-index: 2;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          border-width: 1px;
          p {
            font-family: 'Montserrat-SemiBold';
            font-size: 12px;
            letter-spacing: 0.08em;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #272828 !important;
            &:hover {
              background: #dbe5ea;
            }
          }
          div:nth-child(1) ~ div {
            position: relative;
          }
        }
        .menu-open2 {
          position: absolute;
          border-width: 0px;
          border-color: rgb(220, 220, 220);
          border-style: solid;
          background-color: rgb(255, 255, 255);
          top: 0;
          left: 100%;
          width: 220px;
          z-index: 2;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          border-width: 1px;
          overflow: hidden;
          p {
            font-family: 'Montserrat-SemiBold';
            font-size: 12px;
            letter-spacing: 0.08em;
            height: 100%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #272828 !important;
            &:hover {
              background: #dbe5ea;
            }
          }
        }
        a {
          transition: all 0.5s;
        }
        .open_menu2 {
          transform: rotate(-90deg);
          margin-right: 20px;
        }
        .open_menu {
          transform: rotate(0deg);
        }
        .open_menu.active {
          transform: rotate(180deg) !important;
        }
        &:hover {
          cursor: pointer;
          a {
            color: $osn-col;
          }
          .open_menu {
            transform: rotate(180deg);
          }
        }
        img {
          margin-left: 15px;
          transition: all 0.5s;
        }
      }
    }
    .nav-btn {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      position: absolute;
      left: 100%;
      margin-left: -26px;
      .circle {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 8px 0px rgba(0, 1, 5, 0.11);
        width: 52px;
        height: 52px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .search.open {
        background-color: rgb(255, 255, 255);
        .loopa {
          filter: invert(1);
          margin-right: -52px;
          z-index: 1;
        }
        input {
          width: 260px;
          min-width: 260px;
          padding-left: 71px;
          box-sizing: border-box;
          background: #fff;
        }
      }
      .search {
        justify-content: flex-end;
        z-index: 100;
        .loopa {
          width: 52px;
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: #fff;
          min-width: 52px;
          transition: all 0.5s;
        }
        input {
          width: 0;
          min-width: 0;
          height: 100%;
          padding: 0;
          border: none;
          border-radius: 50px;
          transition: all 0.5s;
          background: none;
        }
      }
      .tel {
        margin: 0 15px;
        position: relative;
        .tel-open {
          border-width: 1px;
          border-color: rgb(220, 220, 220);
          border-style: solid;
          background-color: rgb(255, 255, 255);
          position: absolute;
          width: 218px;
          height: 145px;
          height: 0;
          opacity: 0;
          padding: 13px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          top: calc(100% + 25px);
          left: -190%;
          transition: all 0.5s;
          box-sizing: border-box;
          overflow: hidden;
          cursor: auto;
          p {
            border-bottom: 1px solid #dcdcdc;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            font-family: 'Montserrat-Medium';
            font-size: 14px;
            width: 100%;
            line-height: 100%;
          }
          .accent_color {
            font-family: 'OpenSans-Bold';
            font-size: 12px;
            border: none;
            padding-top: 25px;
            cursor: pointer;
          }
          img {
            margin-right: 8px;
          }
        }
        .tel-open.open {
          height: 160px;
          opacity: 1;
        }
      }
      .bag {
        background: $osn-col;
        .bag-open {
          width: 340px;
          position: absolute;
          top: 150%;
          z-index: 2;
          right: 0;
          opacity: 0;
          overflow-y: hidden;
          max-height: 0;
          background: #fff;
          transition: 0.5s;
          .bag-goods-full {
            max-height: 300px;
            overflow-y: auto;
          }
          .title {
            font-size: 18px;
            text-transform: uppercase;
            background: #f3f3f3;
            height: 77px;
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #dcdbdb;
            font-family: 'Montserrat-Medium';
          }
          .bag-goods {
            margin: 7px;
            background: #f7f7f7;
            position: relative;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            .img {
              width: 78px;
              height: 90px;
              margin-right: 18px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .close {
              position: absolute;
              top: 9px;
              right: 9px;
              cursor: pointer;
            }
            .text {
              .name {
                font-size: 12px;
              }
              .price {
                font-family: 'Montserrat-Bold';
                font-size: 16px;
                color: $osn-col;
                span {
                  font-family: 'Montserrat-Medium';
                  font-size: 14px;
                }
              }
              .qua {
                font-family: 'OpenSans-SemiBold';
                font-size: 14px;
              }
            }
          }
          .full-price {
            height: 76px;
            width: 100%;
            padding-right: 30px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            box-sizing: border-box;
            border-bottom: 1px solid #dcdbdb;
            p {
              font-family: 'Montserrat-Bold';
              font-size: 16px;
              span {
                font-family: 'OpenSans-Bold';
                font-size: 18px;
                color: #d86c81;
                margin-left: 27px;
              }
            }
          }
          .button2 {
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            padding-top: 21px;
            box-sizing: border-box;
            background: #f3f3f3;
            .go-bag, .checkout {
              background-color: rgb(0, 0, 0);
              width: 268px;
              height: 38px;
              margin-bottom: 10px;
              font-family: 'OpenSans-SemiBold';
              letter-spacing: 0.08em;
              text-transform: uppercase;
              font-size: 14px;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              box-sizing: border-box;
              transition: all 0.5s;
              border-radius: 50px;
            }
            .checkout {
              border: 2px solid black;
              &:hover {
                filter: invert(1);
                border: 2px solid white;
              }
            }
            .go-bag {
              background: #445488;
              &:hover {
                filter: invert(1);
              }
            }
          }
        }
        .open {
          max-height: 555px !important;
          opacity: 1 !important;
        }
      }
      .bag {
        position: relative;
        cursor: auto;
        .col {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          font-size: 16px;
          font-family: "Montserrat-Bold";
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 7px;
          cursor: pointer;
        }
      }
    }
  }
  .content {
    padding-top: 70px;
  }
  .text-top {
    font-family: "Montserrat-Bold";
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  .text-middle {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.06em;
    font-family: "Montserrat-Medium";
    padding-bottom: 30px;
  }
  .accent {
    width: fit-content;
    position: relative;
    height: 77px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-bottom: 54px;
    p {
      font-size: 46px;
      line-height: 100%;
      letter-spacing: -0.06em;
      font-family: "Montserrat-Medium";
      color: #fff;
      position: relative;
      z-index: 1;
    }
    span {
      background-color: rgb(0, 132, 199);
      position: absolute;
      top: 0px;
      height: 100%;
      right: -39px;
      width: 1300px;
      border-radius: 50px;
    }
  }
  .text-bottom {
    font-size: 30px;
    font-family: "Montserrat-Medium";
    line-height: 40px;
    letter-spacing: -0.06em;
    margin-bottom: 45px;
  }
}



main {
  overflow: hidden;
  z-index: 10;
  position: relative;
}


// POPUPFORM //

  .popup-forma2,.popup-forma2.is-active {
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: cubic-bezier(.7,1,.7,1);
      transition-timing-function: cubic-bezier(.7,1,.7,1);
      z-index: 10000;
  }

  .popup-forma2 {
      width: 100%;
      -webkit-backface-visibility: hidden;
      position: fixed;
      height: 100%;
      -moz-transform: translateZ(-100%);
      -webkit-transform: translateZ(-100%);
      transform: translateZ(-100%);
      visibility: hidden;
      z-index: 111111;
      top: 0;
      opacity: 0
  }

  .popup-forma2 .mint-btn {
      width: 100%;
      height: 60px;
      margin-bottom: 0;
      margin: 0;
      transform: scale(1);
      display: flex;
      color: black !important;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-family: Gilroy-ExtraBold,Gilroyextrabold;
      border-radius: 6px;
      box-shadow: 0px 20px 18px 0px rgba(0, 0, 0, 0.15);
      border: none;
      background: linear-gradient(to left, #efc018 50%, #f9dd4e 50%);
      background-position: -200%;
      background-size: 200%;
      transition: 0.3s;
      cursor: pointer;
  }

  .popup-forma2 .modal-logo {
      display: block;
      color: #4cccb9;
      font-size: 36px;
      margin-bottom: 20px;
      text-align: center;
      font-family: museo_sans_cyrl900
  }

  .popup-forma2.is-active {
      transform: translateZ(0);
      -webkit-transform: translatZ(0);
      -moz-transform: translateZ(0);
      visibility: visible;
      opacity: 1
  }

  .popup-forma2 .popup-forma2__cover {
      width: 100%;
      height: 100%;
      background-color: #252525;
      opacity: .8;
      display: block;
      position: fixed
  }

  .popup-forma2 .popup-forma2__wrapper {
      position: absolute;
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 5;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
  }

  .popup-forma2 .popup-wrapper {
      background-color: #fff;
      border-radius: 10px;
      width: 475px;
      background-repeat: no-repeat;
      box-shadow: 0 10px 20px rgba(0,0,0,.3);
      -moz-box-shadow: 0 10px 20px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.3);
      position: relative;
  }

  .popup-forma2 .popup-wrapper, .modal-form2 {
      .button-holder {
          text-align: center;
          margin-top: 8px;
          margin-bottom: 0;
          padding-top: 0;
          margin-top: 40px;
      }
  }

  .popup-forma2 .popup-wrapper .popup-close {
      position: absolute;
      top: 23px;
      right: 23px;
      cursor: pointer;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out
  }

  .popup-forma2 .popup-wrapper .popup-close:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05)
  }

  .popup-forma2 .popup-wrapper {
    p {
        font-size: 18px;
        font-family: 'Montserrat-Bold';
        line-height: 24px;
        text-align: center;
        margin: 0;
        padding-bottom: 36px;
        padding-top: 47px;
        color: #010101;
    }
  }



  .forma {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .popup-forma2 .popup-wrapper form {
      margin: 0 auto;
      width: 380px;
      box-sizing: border-box;
  }

  .popup-forma2 .intl-tel-input {width: 100%;}

  .mint-input2 {
      box-shadow: none!important;
      -webkit-box-shadow: none!important;
      -moz-box-shadow: none!important;
      color: #010101;
      border: 1px solid rgb(208, 208, 208);
      letter-spacing: 0.06em;
      padding-left: 15px;
      height: 56px;
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      box-sizing: border-box;
      text-align: left;
      line-height: 1;
      position: relative;
      font-family: 'OpenSans-Light';
      font-size: 14px;
      width: 100%;
      outline: none;
  }


  .popup-forma2 .mint-input2:focus::-webkit-input-placeholder {
      color: transparent
  }

  .popup-forma2 .mint-input2:focus::-moz-placeholder {
      color: transparent
  }

  .popup-forma2 .intl-tel-input.allow-dropdown .selected-flag,.intl-tel-input.separate-dial-code .selected-flag {
      width: 58px!important;
      outline: none;
  }

  .popup-forma2 .intl-tel-input .country-list .country-name {
      margin-left: 50px!important
  }

  .popup-forma2 .intl-tel-input .country-list .country {
      padding: 10px 15px!important;
      position: relative
  }

  .popup-forma2 .intl-tel-input .country-list .country .dial-code {
      position: absolute;
      left: 39px;
      top: 12px
  }

  .popup-forma2 .intl-tel-input .mint-input2 {
      text-align: left
  }

  .popup-forma2 .intl-tel-input .selected-flag {
      padding: 0 0 0 16px!important
  }

  .popup-forma2 .iti-mobile .intl-tel-input .country-list {
      max-height: 100vh;
      width: 97%!important;
      position: absolute!important;
      left: 0 !important;
      top: 0 !important;
      bottom: auto!important;
      right: auto!important;
      display: block!important
  }

  .popup-forma2 .intl-tel-input.allow-dropdown input[type=text] {
      padding-left: 63px!important
  }

  .popup-forma2 .iti-mobile .intl-tel-input.iti-container {
    left: 11px;
  }

  .country-list {
    width: 300px;   
    color: #2d2d2d !important;
  }

  .popup-forma2 {
    .button {
      border-radius: 50px;
      background-color: rgb(68, 84, 136);
      width: 375px;
      height: 60px;
      font-family: 'Montserrat-SemiBold';
      font-size: 18px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #fff;
    }
  }

  .popup-forma2 {
    .content-holder {
      padding: 50px 0;
    }
    .successful-send {
      width: 50%;
      min-width: 475px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      .logo {
        margin-bottom: 90px;
      }
      .thanks {
        font-family: 'Montserrat-Bold';
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        padding: 0;
      }
      .text {
        font-family: 'Montserrat-Medium';
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 50px;
        text-align: center;
        padding: 0;
      }
      .ico {
        margin: 0 auto;
        margin-bottom: 100px;
        a {
          background-color: rgb(246, 246, 246);
        }
      }
    }
    .send {
      display: flex;
      justify-content: flex-end;
      width: 950px;
      transition: all 1s;
      overflow: hidden;
    }
    .left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 0%, rgb(232,236,239) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 0%, rgb(232,236,239) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 0%, rgb(232,236,239) 100%);
      img {
        height: 622px;
        width: 100%;
      }
    }
  }

// END POPUPFORM //

.nav-btn2 {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.show-menu-btn {
    position: absolute;
    right: 0;
    top: 7px;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .34s ease-in-out;
    transition: .34s ease-in-out;
    cursor: pointer;
    z-index: 10000
}

.show-menu-btn span {
    display: block;
    position: absolute;
    background: #000;
    height: 2px;
    width: 25px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    top: 22px
}

.show-menu-btn span:nth-child(1) {
    top: 0
}

.show-menu-btn span:nth-child(2) {
    top: 7px
}

.show-menu-btn span:nth-child(3) {
    top: 14px
}

.show-menu-btn.open span {
    top: 7px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 30px
}

.show-menu-btn.open span:nth-child(2) {
    left: -60px;
    opacity: 0
}

.show-menu-btn.open span:nth-child(3) {
    top: 7px;
    width: 30px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}


@media screen and (max-width: 1900px) {
  header .nav {
    .nav-btn {
      position: static;
    }
    ul {
      margin-right: 0;
      margin-left: 100px;
    }
  }
  .razdely {
    .container {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 1590px) {
  .container {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1410px) {
  .container {
    transform: scale(0.85);
    margin-top: -80px;
  }
  header .container.nav {
    margin-top: 0;
  }
}

@media screen and (max-width: 1390px) {
  .container {
    margin-left: -16px;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.75);
    margin-top: -126px;
    margin-left: -60px;
    margin-bottom: -80px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    transform: scale(1);
    margin: 0;
    margin: 0 auto;
    width: 92%;
  }
  .nav-btn2 {
    display: block;
  }
  main {
    z-index: 1;
  }
  header .nav ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    background: #fff;
    width: 100%;
    padding-top: 90px;
    height: auto;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    opacity: 0;
    li {
      justify-content: center;
      width: fit-content;
      padding: 10px 0;
      margin-right: 0;
      &:hover {
          cursor: pointer;
          a {
            color: $osn-col;
          }
          .open_menu {
            transform: rotate(0deg);
          }
        }
    }
    li:nth-child(1), li:nth-child(2) {
      padding-left: 30px;
    }
    li:last-child {
      padding-bottom: 20px;
    }
  }
  header .man {
    display: none;
  }
  .button {
    margin: 0 auto;
  }
  .wave {
    padding-bottom: 60px;
  }
  h2 {
    font-size: 40px;
  }
}


@media screen and (max-width: 1000px) {
  .popup-forma2 .send {
    width: auto;
  }
}


@media screen and (max-width: 767px) {
  header {
    .logo {
      height: 50px;
    }
  }
  .popup-forma2 .popup-wrapper p {
    font-size: 16px;
    line-height: 20px;
  }
  .popup-forma2 .button {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }
  header .nav ul li .menu-open2 {
    position: static;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  header .nav ul li .menu-open {
    width: 260px;
  }
  header .nav .nav-btn .circle, header .nav .nav-btn .search .loopa {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
  header .nav .nav-btn .tel {
    margin: 0 5px;
  }
  header .nav .nav-btn .circle {
    img:nth-child(1) {
      height: 20px;
    }
  }
  header .nav .nav-btn .bag .col {
    padding-top: 5px;
    font-size: 10px;
  }
  header .nav .nav-btn .search.open input {
    width: 200px;
    min-width: 200px;
    padding-left: 45px;
  }
  header .nav .nav-btn .search.open .loopa {
    margin-right: -30px;
  }
  .video .play {
    transform: scale(0.8);
  }
  h2 {
    font-size: 22px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .nav .nav-btn .bag .bag-open {
    width: 300px;
    img {
      height: auto;
    }
  }
  header .nav .nav-btn .bag .bag-open .bag-goods .close {
    top: 4px;
    right: 4px;
    height: 10px;
  }
  header .nav .nav-btn .bag .bag-open .bag-goods-full {
    max-height: 201px;
  }
  header .nav .nav-btn .bag .bag-open .title {
    font-size: 16px;
    height: 67px;
  }
}

@media screen and (max-width: 767px) {
  .popup-forma2 .popup-forma2__wrapper {
    width: 95%;
  }
  .popup-forma2 .popup-wrapper {
    width: 100%;
  }
  .popup-forma2 .successful-send {
    min-width: 0;
    width: 100%;
    .text {
      br {
        display: none;
      }
    }
  }
  .popup-forma2 .popup-wrapper form {
    width: 90%;
  }
  .popup-forma2 .left {
    display: none !important;
  }
  .popup-forma2 .successful-send .logo {
    margin-bottom: 40px;
  }
  .popup-forma2 .successful-send .ico {
    margin-bottom: 0;
  }
  header .nav .nav-btn .tel .tel-open {
    left: auto;
    right: 0;
  }
  header .container h1 {
    margin-bottom: 0 !important;
  }
  header .nav ul {
    opacity: 0;
  }
}


@media screen and (max-width: 370px) {
  .mint-input2 {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 15px;
  }
  .popup-forma2 .content-holder {
    padding: 20px 0;
  }
  header .nav .nav-btn .bag .bag-open .full-price {
    height: 66px;
  }
}