@import "header";
@import "footer";
@import "slick-theme";
@import "slick";


header {
  background: #eff0f1;
  .ball {
    bottom: -332px;
    position: absolute;
    right: 0;
  }
  .container {
    h1 {
      font-size: 50px;
      font-family: "Montserrat-SemiBold";
      text-transform: uppercase;
      margin-top: 137px;
      margin-bottom: 233px;
    }
  }
}

main {
  padding-bottom: 125px;
  .button {
    font-size: 20px;
    letter-spacing: 0.06em;
    width: 370px;
    margin: 0 auto;
  }
  .razdely {
    padding-top: 54px;
    padding-bottom: 73px;
    .container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      span {
        width: 22px;
        height: 1px;
        background: $osn-col;
        margin: 0 11px;
      }
      a {
        font-size: 14px;
        letter-spacing: 0.06em;
        font-family: "OpenSans-SemiBold";
      }
      .active {
        color: #727272;
      }
    }
  }
  .contact {
    .container {
      display: flex;
      position: relative;
      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 39.7%;
        padding-top: 100px;
        border: 1px solid rgba(143, 143, 143, 0.149);
        padding-left: 60px;
        box-sizing: border-box;
        margin-right: 64px;
        h3 {
          font-size: 24px;
          font-family: 'Montserrat-Medium';
          line-height: 40px;
          text-transform: uppercase;
          margin-bottom: 50px;
        }
        .tel {
          font-family: 'OpenSans-SemiBold';
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        .num {
          margin-bottom: 8px;
          font-size: 14px;
          font-family: 'OpenSans-SemiBold';
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }
        }
        .call {
          margin-top: 34px;
          margin-bottom: 17px;
          border-bottom: 1px dashed #000;
          font-family: 'OpenSans-Bold';
          font-size: 14px;
          display: flex;
          transition: all 0.5s;
          &:hover {
            cursor: pointer;
            color: $osn-col;
          }
        }
        .location {
          display: flex;
          align-items: center;
          font-family: 'OpenSans-SemiBold';
          font-size: 14px;
          margin-bottom: 63px;
          img {
            margin-right: 7px;
          }
        }
        .line {
          width: 90%;
          height: 1px;
          background: #dcdcdc;
          margin-bottom: 57px;
        }
        .social {
          display: flex;
          flex-direction: column;
          background: #fff;
          p {
            font-family: 'OpenSans-SemiBold';
            font-size: 16px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
          }
          .ico {
            display: flex;
            justify-content: flex-start;
            margin-left: 0;
            margin-top: 26px;
            margin-bottom: 31px;
            a {
              border-radius: 50%;
              background-color: rgb(246, 246, 246);
              box-shadow: 0px 4px 8px 0px rgba(0, 1, 5, 0.11);
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 6.5px;
              transition: all 0.5s;
              background: $osn-col;
              img {
                filter: invert(1);
              }
              &:hover {
                background: #000;
                filter: invert(0);
              }
            }
          }
          .email {
            margin-bottom: 127px;
            font-size: 14px;
            font-family: "OpenSans-SemiBold";
            display: flex;
            align-items: center;
            img {
              margin-right: 9px;
            }
          }
        }
      }
      .right {
        width: 65%;
        left: 43%;
        background: url(../img/contact/bg-right.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        height: 100%;
        img {
          position: absolute;
          right: 80px;
          bottom: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 1590px) {
  main .contact .container {
    margin-top: -50px;
    margin-bottom: -50px;
  }
  header .ball {
    max-height: 130%;
  }
  header .container {
    margin-top: 0 !important;
  }
}


@media screen and (max-width: 1200px) {
  header .container h1 {
    text-align: center;
    margin-bottom: 0;
  }
  header .container h1 {
    font-size: 35px;
    line-height: 100px;
    background: #eff0f1;
    margin-top: 0;
  }
  header {
    background: none;
    padding-bottom: 0;
  }
  header .ball {
    display: none;
  }
  main .contact .container .right {
    display: none;
  }
  main .contact .container .left {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  header .container h1 {
    font-size: 28px;
  }
  main .razdely {
    padding-top: 10px;
  }
  main .razdely .container a {
    font-size: 12px;
  }
  main .contact .container .left {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
  }
  main .contact .container .left h3, main .contact .container .left .tel {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  main .contact .container .left .call {
    font-size: 12px;
    margin-top: 20px;
  }
  main .contact .container .left .location, main .contact .container .left .line {
    font-size: 12px;
    margin-bottom: 30px;
  }
  main .contact .container .left .social p {
    font-size: 12px;
  }
  main .contact .container .left .social .email {
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
  }
}